<ul>
	<li><strong>BANK NAME</strong> - <%= bank[0].BANK %></li>
	<li><strong>BRANCH</strong> - <%= bank[0].BRANCH %></li>
	<li><strong>CENTRE</strong> - <%= bank[0].CENTRE %></li>
	<li><strong>IFSC</strong> - <%= bank[0].IFSC %></li>
	<li><strong>STATE</strong> - <%= bank[0].STATE %></li>
	<li><strong>DISTRICT</strong> - <%= bank[0].DISTRICT %></li>
	<li><strong>CITY</strong> - <%= bank[0].CITY %></li>
	<li><strong>ADDRESS</strong> - <%= bank[0].ADDRESS %></li>
	<li><strong>CONTACT</strong> - <%= bank[0].CONTACT %></li>
<ul>

<a href ="/">Go back</a>